@import "variables/variables";

.post-type-archive-reviews {
    @media (min-width: 768px) {
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 1169px;
            height: 1165px;
            left: 0;
            top: 0;
            opacity: 0.1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            z-index: -1;
        }
    }

    .page-header {
        @media (max-width: 767px) {
            margin-top: 3em;
        }
    }

}

.archiveReviewSlider {
    margin: 2em 0 1.56em;
    opacity: 0;
    transition: opacity 0.3s;

    &.slick-initialized {
        opacity: 1;
    }

    @media (min-width: 768px) {
        margin: 2em auto 3.56em;
        width: 56.625em;
    }

    .slick-list {
        overflow: inherit;
    }

    &__wrapper {
        overflow: hidden;
        margin: 0;
        border-bottom: $main_border;

        @media (min-width: 768px) {
            margin: 0 -5.7em;
        }
    }

    &__item {
        transform: scale(0.8);
        transition: transform 0.3s;

        &.slick-current {
            transform: scale(1);
        }
    }

    &__footer {
        @media (max-width: 767px) {
            font-size: 0.6em;
        }
    }

    &__count {
        font-weight: bold;
        font-size: 2.5em;
        line-height: 150.4%;
        color: #DDC181;
    }

    &__arrows {}

    &__prev {}

    &__next {}

}

.archiveReview {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.2em;
    padding: 1.875em 1.2em;
    border-bottom: $main_border;

    @media (min-width: 768px) {
        gap: 1.875em;
    }

    @media (min-width: 768px) {
        margin: 0 -5.7em 3.75em;
        padding: 1.875em 5.7em 3.75em;
    }

    &__item {
        padding: 1.75em 1.25em;
        background: #292929;
        margin-bottom: 1em;
        position: relative;
        width: 100%;

        @media (min-width: 768px) {
            width: calc(50% - 1.875em);
            padding: 2.75em 2.25em;
            margin-bottom: 0;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 3.0625em;
    }

    &__photo {
        flex: none;
        width: 9em;
        height: 9em;
        margin-right: 2.3125em;
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        font-size: 2.25em;
        line-height: 1.189;
        color: #FEFAF1;
        text-shadow: 0 0 1em rgba(#262626, 0.9);
    }

    &__sub {
        font-size: 1.25em;
        margin-top: 0.2em;
        line-height: 1.189;
        color: #FFFAFA;
        text-shadow: 0 0 1em rgba(#262626, 0.9);
    }

    &__text {
        font-size: 1.25em;
        font-weight: 300;
        color: #FEFAF1;
        line-height: 1.6;
    }

    &__video {
        overflow: hidden;
        margin: -1.75em -1.25em;
        // width: 100%;
        height: 32.9375em;
        position: relative;

        @media (min-width: 768px) {
            margin: -2.75em -2.25em;
        }

        video {
            display: block;
            object-fit: contain;
            object-position: center;
            // width: 100%;
            height: 100%;

            &.cover {
                object-fit: cover;
            }
        }
    }

    &__poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            display: block;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__control {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1em;

        @media (min-width: 768px) {
            padding: 2.5em;
        }
    }

    &__play {
        width: 5.2em;
        height: 5.2em;
        cursor: pointer;
        transition: opacity 0.3s;
        margin-right: 2.25em;
        background: #BFA778;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 768px) {
            width: 6.375em;
            height: 6.375em;
        }

        &:after,
        &:before {
            content: '';
            color: #202020;
            height: 1.375em;
        }

        &:before {
            width: 1.375em;
            border: 0.625em solid transparent;
            border-radius: 0.125em;
            border-left: 1em solid #202020;
            margin-left: 0.875em;
        }

        &.paused {
            &:after,
            &:before {
                border: 0;
                width: auto;
                border-left: 0.25em solid #202020;
                border-radius: 0.125em;
                margin: 0.25em;
            }

            &:after {
                margin-left: 0.2em;
            }

            &:before {
                margin-right: 0.2em;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

}
