@import "./variables/variables";
@import "./mixins/mixin.scss";

.devFirst {
    .section {
        &__title {
            font-size: 3.5em;

            @media (max-width: 767px) {
                margin: 0;
                display: inline;

                .page-template-page-seo-template-new & {
                    br {
                        display: none;
                    }
                }
            }

            @media (min-width: 768px) {
                font-size: 5.2em;

                .page-template-page-seo-template-new & {
                    font-size: 4.2em;
                }
            }
        }
    }

    &__content {
        padding: 2.8em 0 3em;
        position: relative;
        z-index: 1;
        // border-bottom: 1px solid rgba(254, 250, 241, 0.5);

        @media (min-width: 768px) {
            padding: 0.1em 0 9.9em;
            display: flex;
            align-items: center;
            justify-content: center;

            .page-template-page-seo-template-new & {
                padding: 3em 0 9.9em;
            }
        }
    }

    &__left {
        @media (min-width: 768px) {
            flex-grow: 1;
        }
    }

    &__text {
        font-size: 1.25em;
        line-height: 1.5;

        @media (min-width: 768px) {
            width: 25em;
            margin-top: 4.42em;
        }
    }

    &__anchor {
        counter-reset: anc;
        margin-top: 2em;

        @media (min-width: 768px) {
            width: 25em;
            margin-top: 4.42em;
        }

        a {
            counter-increment: anc;
            display: inline-block;
            font-size: 1.25em;
            line-height: 1.5;
            margin: 0 1em 0.7em 0;
            color: $color_withe;
            text-decoration: none;
            font-weight: 300;

            @media (min-width: 768px) {
                margin: 0 1.4em 1em 0;
            }

            &:before {
                content: '[' counter(anc) ']';
                margin-right: 0.3em;
            }

            &:hover {
                color: rgba($color_withe, .7);
            }
        }
    }

    &__img {
        height: 26em;

        @media (min-width: 768px) {
            position: absolute;
            z-index: -1;
            width: 30.3125em;
            height: auto;
        }

        @media (max-width: 767px) {
            margin: 0 -1.2em;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__right {
        @media (min-width: 768px) {
            flex-grow: 1;
            padding-left: 17em;

            .page-template-page-seo-template-new & {
                padding-left: 4em;
                text-align: right;
            }
        }
    }

    &__link {
        margin: 2em 0;

        @media (min-width: 768px) {
            text-align: right;
            margin: 0 0 5.32em;
            padding-right: 12.01em;
        }
    }

}

html {
    scroll-behavior: smooth;
}

.page-template-page-development-template,
.page-template-page-seo-template-new,
.page-template-page-web-design-template {
    counter-reset: anchor;

    .section {
        &__title {
            font-weight: 500;
            letter-spacing: 0.06em;

            @media (max-width: 767px) {
                font-size: 2.8em;
            }
        }
    }

    .getTouch {
        @media (max-width: 767px) {
            .btn {
                margin-top: 1em;
                // width: 11.5em;
                // height: 11.5em;
                // border-radius: 50%;
            }

            input:not([type]),
            input[type=date],
            input[type=datetime],
            input[type=email],
            input[type=number],
            input[type=password],
            input[type=search],
            input[type=tel],
            input[type=text],
            input[type=url],
            select,
            textarea {
                border: 0;
                padding-left: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }

    .btn {
        text-decoration: none;
    }
}

.devAnchore {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    counter-increment: anchor;
    padding: 2.5em 0;
    border-top: 1px solid;

    &:after {
        content: '(' counter(anchor) ')';
        color: #FEFAF1;
        font-weight: 500;

    }

    span {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        color: #FEFAF1;

        &:before {
            content: '';
            width: 0.5em;
            height: 0.5em;
            background: #fff;
            border-radius: 50%;
            margin-right: 1.25em;
        }
    }
}

.devPortfolio {
    color: #FEFAF1;
    padding: 3em 0;

    @media (min-width: 768px) {
        padding: 3em 0 7.85em;
    }

    .section {
        &__title {
            @media (min-width: 768px) {
                max-width: 10em;
                font-size: 5em;
            }
        }
    }

    &__head {

        @media (min-width: 768px) {
            margin-top: 1.21em;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__action {
        display: none;

        @media (min-width: 768px) {
            display: block;
            margin-right: 12.125em;
        }
    }

    &__text {
        max-width: 28.8125em;
        margin: 2em 0;

        @media (min-width: 768px) {
            margin: 0;
        }

        p {
            font-size: 1.25em;
            line-height: 1.5;
        }
    }

    &__list {
        margin: 2.8em -1.2em;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: 2.8em -0.3125em;
        }
    }

    &__item {
        background: #292929;
        padding: 1.625em;
        margin: 0 0 1.2em;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;

        @media (min-width: 768px) {
            border-radius: 1.25em;
            width: calc(50% - 0.625em);
            margin: 0.3125em;
            padding: 1.96em 4.1875em 3.5em;

            &:hover {
                .devPortfolio__img {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__tags {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        p {
            font-size: 0.875em;
            margin-right: 1.875em;
            margin-bottom: 1em;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em 0 3em;

        @media (min-width: 768px) {
            flex-grow: 1;
            margin: 3.1em 4.375em 4.31em;
            min-height: 26.25em;
            transform: scale(1);
            transition: transform 1s;
        }
    }

    &__bottom {
        display: flex;
    }

    &__name {
        font-size: 1.85em;
        margin-right: 0.75em;
        padding-top: 0.1em;

        @media (min-width: 768px) {
            font-size: 2.25em;
        }
    }

    &__cat {
        font-size: 0.875em;
    }

}

.seoWhy {
    padding-top: 5em;

    @media (min-width: 768px) {
        padding-top: 5.625em;
    }

    &__text {
        margin-bottom: 4em;

        @media (min-width: 768px) {
            max-width: 37.5625em;
            margin-bottom: 6.25em;
        }

        p {
            font-size: 1.25em;
            line-height: 1.5;
        }
    }

    &__points {
        margin-bottom: 4em;

        @media (min-width: 768px) {
            margin-bottom: 6.25em;
            display: flex;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 2.5em;

        &:before {
            content: '';
            flex: none;
            width: 5.125em;
            height: 5.125em;
            margin-right: 2em;
            border-radius: 50%;
            background: #202020 url("../img/proc-arrow.svg") center no-repeat;
            background-size: 30%;
        }
    }

    &__row_text {
        font-weight: 500;
        font-size: 1.25em;
        line-height: 1.5;
    }

    &__video {
        height: 25em;

        @media (min-width: 768px) {
            height: 49.125em;
        }

        img,
        video {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}

.devWhy {
    padding-top: 5em;
    margin-bottom: 3em;

    @media (min-width: 768px) {
        padding-top: 5.625em;
        margin-bottom: 5.43em;
    }

    .devAnchore {
        @media (min-width: 768px) {
            margin-bottom: 2.1875em;
        }
    }

    .section {
        &__title {
            @media (min-width: 768px) {
                max-width: 14.75em;
            }
        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__left {
        margin-top: 0.8em;
        margin-bottom: 2.5em;

        @media (min-width: 768px) {
            margin-bottom: 3.5em;
            width: 40.9375em;
        }
    }

    &__text {
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.5;

        p {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__right {
        @media (min-width: 768px) {
            margin-right: 1.1em;
        }
    }

    &__points {}

    &__row {
        margin-bottom: 2em;

        @media (min-width: 768px) {
            margin-bottom: 3.55em;
            display: flex;
        }

        &_text {
            font-size: 1.25em;
            width: 16.5em;
            line-height: 1.5;
            font-weight: 500;
            flex: none;

            @media (min-width: 768px) {
                margin-left: 2.65em;
            }
        }
    }

    &__percent {
        font-size: 6em;
        line-height: 1;
        color: #A08644;
        font-weight: 300;

        @media (min-width: 768px) {
            line-height: 0.8;
            font-size: 6.875em;
        }
    }

    &__action {
        margin: 3em 0;

        @media (min-width: 768px) {
            margin: -1em 0 5em;
        }
    }

    &__img {
        width: 100%;
        height: 25em;

        @media (min-width: 768px) {
            height: 49em;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}

.devNoticed {
    padding: 3em 0;

    @media (min-width: 768px) {
        padding: 5.625em 0;
    }

    .section {
        &__title {
            line-height: 1.2;
        }

        &__sub {
            font-size: 1.28em;

            @media (min-width: 768px) {
                max-width: 27.81em;
            }
        }
    }

    &__content {
        @media (min-width: 768px) {
            margin-top: 2em;
            max-width: 71.3125em;
        }
    }

    &__list {
        margin-top: 3em;
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
        }

        @media (min-width: 768px) {
            width: 100%;
            justify-content: flex-end;
            margin-top: -3.7em;
            overflow-x: inherit;
        }
    }

    &__item {
        font-size: 0.8em;
        width: 22.8125em;
        height: 22.8125em;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 2.75em;
        flex: none;

        @media (min-width: 768px) {
            font-size: 1em;
        }

        img {
            position: absolute;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: scale(0);
            transition: border-color 1.2s, transform 0.6s, opacity 0.3s;
            // transition-property: border, transform, opacity;
        }

        &:hover {
            border-color: transparent;

            img {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    &__name {
        position: relative;
        text-align: center;
        font-size: 1.25em;
        font-weight: 500;
        color: #FEFAF1;
    }
}

.devMarketing {
    padding: 3em 0;

    @media (min-width: 768px) {
        padding: 5.4em 0 11.25em;

        .section__sub {
            max-width: 25em;
            margin-left: 2em;
        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__list {
        margin: 0 -1.5em;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }
    }

    &__item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1.5em 1.5em 2em;

        @media (min-width: 768px) {
            padding: 3.125em;
            width: 33.3%;

            &:nth-child(n+2) {
                border-left: 0;
            }

            &:nth-child(4) {
                border-left: 1px solid rgba(255, 255, 255, 0.1);
            }

            &:nth-child(n+4) {
                border-top: 0;
            }
        }

        @media (max-width: 767px) {
            &:nth-child(n+2) {
                border-top: 0;
            }
        }

    }

    &__abbr {
        font-weight: 300;
        font-size: 3em;
        line-height: 1.4;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #575757;

        @media (min-width: 768px) {
            font-size: 3.5em;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 1.35em;
        line-height: 1.4;
        color: #F7F5EB;

        @media (min-width: 768px) {
            font-size: 1.625em;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 1.25em;
        line-height: 1.4;
        color: #F7F5EB;
        margin-bottom: 1em;

        p {
            margin: 0.5em 0;
        }
    }

    &__more {
        font-weight: 600;
        font-size: 1em;
        line-height: 1.2;
        letter-spacing: -0.05em;
        color: #BFA778;
        text-decoration-color: transparent;

        &:hover {
            text-decoration-color: inherit;
        }
    }
}

.devFaq {
    &__content {}

    &__list {
        margin: 3em -1.5em 0;

        @media (min-width: 768px) {
            display: flex;
            margin: 5.25em -0.625em 6.25em;
        }
    }

    &__item {
        background: #292929;
        padding: 2.5em 1.5em;
        margin: 0 0 1em;

        @media (min-width: 768px) {
            width: calc(50% - 1.25em);
            margin: 0.625em;
            padding: 4.625em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        color: #FEFAF1;
        line-height: 1.4;
        font-weight: 300;

        *:first-child {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-size: 1.8em;
            line-height: 1.1;
            font-weight: 400;
            margin: 1em 0;

            @media (min-width: 768px) {
                font-size: 2.25em;
            }
        }

        p {
            font-size: 1.25em;
            margin: 0.5em 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 2.5em 0;
            font-size: 1.25em;
            font-weight: 400;
            line-height: 1.5;

            li {
                margin-bottom: 1.45em;
                position: relative;
                padding-left: 2em;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    top: 0.2em;
                    width: 1em;
                    height: 1em;
                    background: url("../img/garrow.svg") 0 0 no-repeat;
                    background-size: contain;
                    border-radius: 0;
                }
            }
        }
    }

    &__form {
        background: #FEFAF1;
        padding: 3em 1.75em;
        margin: 0 -1.5em;

        @media (min-width: 768px) {
            padding: 5em 3.75em 3.75em;
            margin: 0;
        }
    }
}

body .ssa-leadgen-widget {
    font-size: 1em;

    &.-new-background {
        color: #292929;
        border: 0;
        padding: 0;
        width: 100%;
        max-width: 45.8em;
        background: #FEFAF1 !important;
    }

    form {

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            // align-items: center;
            justify-content: center;
            margin-left: -1.25em;
        }
    }

    &__step1 {}

    &__title {
        font-size: 2.25em;
        margin: 0 0 0.9em;
        font-weight: 500;
        display: none;
    }

    &__label {
        font-size: 0.875em;
        margin: 0 0 1em;

        @media (min-width: 768px) {
            padding-left: 1.25em;
            width: 50%;
        }

        span {
            &:first-child {
                // display: none;
                display: block;
                margin-bottom: 0.5em;
            }
        }

        &.-ssa-checkbox {
            display: flex;
            align-items: flex-start;

            @media (min-width: 768px) {
                width: 100%;
            }
        }
    }

    &__input {
        color: #292929;
        height: auto;
        line-height: 1;
        margin: 0 0 1em;
        padding: 1.66em;
        width: 100%;

        @include placeholder {
            color: #868174;
        }
    }

    &__checkbox {
        background: #DDC181;
        margin-top: 0.2em;

        &-label {
            line-height: 1.4;
            font-size: 1em;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }
    }

    &__btn-start {
        color: #202020;
        border: 1px solid;
        font-weight: 500;
        font-size: 1em;
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: 1em;
        margin: 1.375em 0 0;
        background: transparent !important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        transition: 0.4s;
        transition-property: opacity, background, color;

        @media (min-width: 768px) {
            width: 11.0625em;
            height: 11.0625em;
            border-radius: 50%;
        }

        &:hover:not(.-disabled) {
            background: #202020 !important;
            color: #FEFAF1;
        }

        &.-disabled {
            background: transparent !important;
        }
    }

    &__error {
        width: 100%;
        margin: 0.9375em 1.25em 0 0;
        padding: 0.5625em 0.75em;
        font-size: 0.8125em;

        @media (min-width: 768px) {
            margin: 0.9375em 0 0 1.25em;
        }
    }

}

.devProsCons {
    padding: 3em 0;

    @media (min-width: 768px) {
        padding: 5.4em 0;
    }

    .section {
        &__title {
            @media (min-width: 768px) {
                width: 11em;
                flex: none;
                font-size: 5.1em;
            }
        }

        &__sub {
            @media (min-width: 768px) {
                margin-left: 7.5em;

                p {
                    font-size: 0.85em;
                    line-height: 1.5;

                    &:first-child {
                        margin-top: 0.7em;
                    }
                }
            }
        }

    }

    &__head {

        @media (min-width: 768px) {
            margin-top: 2.1em;
            display: flex;
            justify-content: space-between;
        }
    }

    &__content {
        margin: 2em -1.2em;
        @media (min-width: 768px) {
            display: flex;
            margin: 2.7em -0.3125em;
        }
    }

    &__col {
        background: #292929;
        margin: 0 0 1.25em;
        padding: 2em 1.2em 1.65em;
        color: #FEFAF1;

        @media (min-width: 768px) {
            padding: 3.75em 3.75em 1.65em;
            margin: 0.3125em;
            width: calc(50% - 0.625em);
        }
    }

    &__title {
        font-size: 2.25em;
        display: flex;
        align-items: center;
        padding-bottom: 0.8em;
        border-bottom: 1px solid rgba(254, 250, 241, 0.1);

        @media (min-width: 768px) {
            padding-bottom: 1.25em;
        }

        &:before {
            content: '';
            display: block;
            width: 0.7em;
            height: 0.7em;
            margin-right: 0.6em;
            background: url("../img/garrow.svg") 0 0 no-repeat;
            background-size: contain;
        }
    }

    &__list {
        margin: 2.5625em 0;
        padding: 0;

        @media (min-width: 768px) {
            margin: 3.5625em 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__minus,
    &__plus {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            margin-bottom: 1.875em;
        }

        &:before {
            content: '';
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            line-height: 0.6;
            font-size: 3em;
            width: 1.03em;
            height: 1.03em;
            margin-right: 0.8em;
            border-radius: 50%;
            background: #FEFAF1;
            color: #202020;
        }

        span {
            font-size: 1.25em;
            font-weight: 500;
        }
    }

    &__plus {
        &:before {
            content: '+';
            padding-top: 0.1em;
        }
    }

    &__minus {
        &:before {
            content: '–';
            padding-bottom: 0.15em;
        }
    }

    &__name {}

}

.devServices {
    padding: 0 0 5em;

    @media (min-width: 768px) {
        padding: 2.9em 0 11.2em;
    }

    .section {
        &__title {
            @media (min-width: 768px) {
                margin-top: 0.4em;
            }
        }

    }

    .devAnchore {
        &:after {
            // display: none;
            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__haed {
        margin-bottom: 3em;

        @media (min-width: 768px) {
            width: 66.6%;
            margin-bottom: 0;
        }
    }

    &__item {
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 2.1em 2.1em 2.2em;
        margin-bottom: 1.25em;
        color: #FEFAF1;

        @media (min-width: 768px) {
            width: 33.3%;
            padding: 3.5625em 3.4375em 2.2em;
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 2.28em;
        margin-bottom: 0.2em;
    }

    &__price {
        font-size: 1.7em;
        margin-bottom: 0.8em;
    }

    &__text {
        font-size: 1.35em;
        max-width: 17.3em;
        margin-bottom: 2.2em;
        font-weight: 300;
        flex-grow: 1;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            margin-right: 2.2em;
            text-decoration: underline;

            &:hover {
                text-decoration-color: transparent;
            }
        }

        a:not([class]),
        span {
            color: #DDC181;
            text-transform: uppercase;
            font-weight: 500;
            margin-right: 2.2em;
            text-decoration: underline;
        }

        a:not([class]):hover {
            text-decoration-color: transparent;
        }
    }

    &__img {
        @media (min-width: 768px) {
            width: 33.3%;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.seoServices {
    padding: 5em 0 0;

    @media (min-width: 768px) {
        padding: 8.75em 0 8em;
    }

    &__content {
        margin: 3em -1.5em 0;

        @media (min-width: 768px) {
            margin: 6.3125em -0.625em 0;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin: 0;
        background: #292929;

        @media (min-width: 768px) {
            width: calc(33.3% - 1.25em);
            margin: 0.625em;
            display: flex;
            flex-direction: column;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        padding: 2em 1.5em;
        color: #FEFAF1;

        @media (min-width: 768px) {
            padding: 3.125em;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }

    &__img {
        height: 19.375em;
    }

}

.devChoose {
    padding: 5em 0;

    @media (min-width: 768px) {
        padding: 8.75em 0 8em;
    }

    .section {
        &__title {
            @media (max-width: 767px) {
                font-size: 2.4em;
            }
        }

    }

    .devAnchore {}

    &__content {
        @media (min-width: 768px) {
            display: flex;
            margin-top: 1.7em;

            .page-template-page-web-design-template & {
                margin-bottom: 6em;
            }
        }
    }

    &__left {
        @media (min-width: 768px) {
            max-width: 61.47em;
            margin-right: 4.8125em;

            .page-template-page-web-design-template & {
                width: 52em;
                flex: none;
            }
        }
    }

    &__action {
        margin-top: 3em;
        width: 16.75em;
        height: 16.75em;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: hidden;
        text-decoration: none;

        @media (min-width: 768px) {
            margin-top: 7.8125em;
            width: 20.75em;
            height: 20.75em;
        }

        img {
            position: absolute;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        span {
            position: relative;
            text-transform: uppercase;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: 500;
            transition: text-decoration 0.4s;
        }

        &:hover {
            span {
                text-decoration-color: transparent;
            }
        }

        &.desktop {
            position: sticky;
            top: 3em;
        }
    }

    &__right {
        @media (min-width: 768px) {
            margin-top: 0.8em;
        }
    }

    &__list {
        margin: 2em 0;

        @media (min-width: 768px) {
            padding-right: 6.25em;
            margin: 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        @media (min-width: 768px) {
            margin-bottom: 4.2em;

            .page-template-page-web-design-template & {
                margin-bottom: 3em;
                align-items: flex-start;
            }
        }

        span {
            font-size: 0.7em;
            width: 5.125em;
            height: 5.125em;
            border-radius: 50%;
            background: #202020;
            margin-right: 2em;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 768px) {
                margin-right: 3.375em;
                font-size: 1em;
            }

            &:before {
                content: '';
                width: 0.8em;
                height: 1.3em;
                margin-top: -0.4em;
                transform: rotate(45deg);
                border-right: 0.125em solid #BFA778;
                border-bottom: 0.125em solid #BFA778;
            }
        }
    }

    &__text {
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 1.25em;
        }

        p {
            line-height: 1.4;
            margin: 0;
        }

        .page-template-page-web-design-template & {
            font-weight: 400;

            h3 {
                font-size: 1.5em;
                margin: 0 0 0.5em;
                line-height: 1.1;

                @media (min-width: 768px) {
                    font-size: 2.25em;
                }
            }
        }
    }
}

.orderModal {
    &_sample {
        div.modal-body {

            @media (min-width: 768px) {
                padding: 3.5em 6.8em 3em;

                .wpcf7-form {
                    text-align: center;
                }
            }

        }
    }

    &__header {
        height: 19.9375em;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -0.625em;
        margin-top: 1.8125em;

        .form__row {
            width: 100%;
            padding-left: 0.625em;
            margin-bottom: 0.625em;

            @media (min-width: 768px) {
                width: 50%;
            }
        }

        &_single {
            .form__row {
                width: 100%;
            }
        }

        .btn {
            margin-top: 2em;
        }

        input:not([type]),
        input[type=date],
        input[type=datetime],
        input[type=email],
        input[type=number],
        input[type=password],
        input[type=search],
        input[type=tel],
        input[type=text],
        input[type=url],
        select,
        textarea {
            background-color: $color_withe;
            color: #202020;
            padding: 1em;
            font-size: 1.25em;

            @include placeholder {
                color: #202020;
            }
        }
    }

    .modal-title {
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        line-height: 1.1;
        text-transform: uppercase;
        color: #FEFAF1;

        @media (min-width: 768px) {
            font-size: 2.5em;
        }
    }

    .modal-dialog {
        @media (max-width: 767px) {
            padding: 0;
            // margin: 1em auto;
        }
    }

    .modal-close {
        @media (max-width: 767px) {
            right: 1em;
            top: 1em;
        }
    }

    .modal-content {
        background: #292929;
    }

    .modal-body {
        padding: 1.875em 1.25em;

        @media (min-width: 768px) {
            padding: 3.5em 3.5em 3em;

            .wpcf7-form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .wpcf7-acceptance {
                .wpcf7-list-item {
                    margin: 0;
                }
            }
        }
    }
}

.dayCounter {
    color: #202020;
    text-align: center;
    display: none;

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 2.625em 0;
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 2.25em;
        line-height: 1.1;
        margin-bottom: 0.9em;

        @media (min-width: 768px) {
            font-size: 2.95em;
        }
    }

    &__sub {
        font-size: 1.25em;
        line-height: 1.5;
        margin: 0.6em 0 1.9em;

        @media (min-width: 768px) {
            font-size: 1.65em;
        }
    }

    &__col {
        font-size: 1em;
        @media (min-width: 768px) {
            font-size: 1.5em;
        }
    }

    &__sep {
        font-size: 5em;
        line-height: 1.25;
        margin: 0 0.2em;

        @media (min-width: 768px) {
            line-height: 1.7;
            margin: 0 0.4em;
        }
    }

    &__label {
        font-weight: 300;
        font-size: 1em;
        line-height: 150%;
        text-align: center;
        color: #868174;
    }

    &__count {
        font-style: normal;
        font-weight: 300;
        font-size: 5em;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
    }

    .hours {}

    .minutes {}

    .seonds {}

}

.wpcf7-not-valid-tip {
    display: none;
}

.wpcf7-form-control-wrap {
    display: block;
}

.devPrice {
    padding: 5em 0 0;

    @media (min-width: 768px) {
        padding: 8.75em 0 4em;
    }

    &__cols {
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin: 3em -1.5em 0;

        @media (min-width: 768px) {
            margin: 5em 0 0;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__col {
        color: $color_withe;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        @media (min-width: 768px) {
            border-bottom: 0;
            width: 25%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        &:nth-child(n+2) {

            @media (min-width: 768px) {
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                // border-bottom: 0;
            }
        }
    }

    &__head {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 2em 1.5625em;
    }

    &__name {
        font-size: 2em;
        font-weight: 500;
        line-height: 1.5;

        @media (min-width: 768px) {
            font-size: 2.25em;
        }
    }

    &__summ {
        font-size: 1.25em;
        font-weight: 500;
    }

    &__body {
        padding: 2em 1.5625em;
        flex-grow: 1;
    }

    &__text {
        font-weight: 300;
        font-size: 1.25em;

        ul {
            padding-left: 0;
        }
    }

    &__action {
        padding: 0.625em 1.5625em 3.75em;
        text-transform: uppercase;

        a {
            font-weight: 600;
            font-size: 1em;
            line-height: 1.2;
            letter-spacing: -0.05em;
            text-decoration-line: underline;
            text-transform: uppercase;

            color: #BFA778;
        }
    }

}

.seeExample {
    .modal-dialog {
        max-width: 100%;
        width: auto;
    }

    .modal-close {
        right: 1em;
        top: 1em;
        z-index: 10;
    }

    .modal-content {
        // max-height: 80vh;
        background-color: transparent;
        margin: 0;

        iframe,
        video {
            display: block;
        }

        video {
            object-fit: contain;
            width: 100%;
            height: 100%;
            max-height: 90vh;
        }

        iframe {
            width: 90em;
            height: 90vh;
            max-width: 100%;
        }
    }
}

.auditForm {
    max-width: 47em;
    margin: 0 auto;

    &__fields {
        
        > p {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 0.625em;

            @media (min-width: 768px) {
                flex-direction: row;
            }
        }

        [data-name="agree"] {
            display: none;
        }

        .wpcf7-form-control-wrap {
            flex-grow: 1;
        }

        .wpcf7-form-control {
            width: 100%;
            font-size: 1em;
            padding: 1.1875em 1.1875em 1.1875em 3.125em;
            color: #868174;

            @include placeholder {
                color: #868174;
            }

            &.wpcf7-validates-as-url {
                background: url("../img/chain.svg") 0.7em center no-repeat;
                background-size: 1.7em;
            }

            &.wpcf7-validates-as-email {
                background: url("../img/mail.svg") 0.9em center no-repeat;
                background-size: 1.4em;
            }
        }
    }

    &__btn {
        text-align: center;
        margin-top: 3.0625em;

        .btn {
            // text-decoration: underline;
        }
    }

    .wpcf7-text {}

    .wpcf7-url {}

    .wpcf7-validates-as-required {}

    .wpcf7-email {}

    .btn {}

    .btn_round {}

    .btn_round_md {}

    .btn_small {}

    .btn_border {}

    .btn_round_contrast {}

    .cf7__loader {}

    .wpcf7 form .wpcf7-response-output {
        color: #202020;
    }
}
