@import "./variables/variables";
@import "./vendor/slick";

.section {
    padding: 2em 0;
    @media (min-width: 768px) {
        padding: 5.625em 0 3.125em;
    }
}

p:not([class]) {
    a:not([class]) {
        color: inherit;
    }
}

.webdisHome {
    overflow: hidden;
    padding-top: 3em;
    padding-bottom: 3em;

    @media (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 8.5625em;
    }

    .section {
        &__title {
            @media (min-width: 768px) {
                font-size: 5em;
                font-weight: 400;
                letter-spacing: normal;
            }
            @media (max-width: 767px) {
                br {
                    // display: none;
                }
            }
        }

        &__sub {
            margin-bottom: 2em;

            @media (min-width: 768px) {
                font-size: 1.3em;
                font-weight: 300;
            }
        }

    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__left {
        @media (min-width: 768px) {
            margin-right: 3.5em;
        }
    }

    &__links {
        counter-reset: slide;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            margin-bottom: 4.125em;
        }

        a,
        span {
            counter-increment: slide;
            margin-right: 1em;
            display: inline-block;
            font-weight: 400;
            margin-bottom: 0.9em;
            cursor: pointer;
            transition: opacity 0.4s;
            opacity: 1;
            color: inherit;
            text-decoration: none;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }

            &:hover {
                opacity: 0.8;
            }

            &:before {
                content: '[' counter(slide) ']';
                margin-right: 0.5em;
            }
        }
    }

    &__btn {
        @media (max-width: 767px) {
            margin-top: 3em;
        }
    }

    &__right {
        @media (min-width: 768px) {
            width: 72.25em;
            flex: none;
            min-width: 0;
            margin-right: -17.7em;
        }
    }

    &__images {
        box-shadow: 0 4em 8em rgba(0, 0, 0, 0.2);
        border-radius: 1.5625em;
        visibility: hidden;

        &.slick-initialized {
            visibility: visible;
        }

        .slick-dots {
            position: absolute;
            z-index: 8;
            width: 100%;
            bottom: 0.2em;

            @media (min-width: 768px) {
                bottom: 4em;
            }

            li {
                border: 0;
                background-color: transparent;
                margin: 0 0.5em;
                opacity: 0.3;

                &.slick-active {
                    opacity: 1;
                }
            }

            button {
                display: block;
                border: 0;
                padding: 0;
                background-color: transparent;
                color: $color_withe;
                font-weight: 300;

                @media (min-width: 768px) {
                    font-size: 1.25em;
                }
            }
        }
    }

    &__img {
        // border: 0.125em solid #5B5240;

        img {
            display: block;
        }
    }

    .btn {}
}

.related {
    &.ideas {
        border-bottom: 0;

        &:after {
            display: none;
        }

        .ideas__content {
            border-left: 0;

            @media (min-width: 768px) {
                padding: 3.75em 0 6.1875em;
            }
        }
    }
}

.webdisPromo {
    .section {
        &__title {}

    }

    &__content {
        margin-top: 0;
        margin-bottom: 3em;

        @media (min-width: 768px) {
            display: flex;
            margin-top: 2.1875em;
            margin-bottom: 5.625em;
        }
    }

    &__left {
        @media (min-width: 768px) {
            margin-right: 4.6875em;
        }
    }

    &__btn {
        margin: 3em 0;

        @media (min-width: 768px) {
            margin: 4.625em 0 0;
        }
    }

    &__right {
        @media (min-width: 768px) {
            flex: none;
            width: 41.5em;
        }
    }

    &__text {
        color: #202020;

        p {
            line-height: 1.5;
            margin: 0 0 0.5em;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }
    }

    &__img {
        height: 25em;
        width: 100%;

        @media (min-width: 768px) {
            height: 49.125em;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.webdisWhy {
    @media (min-width: 768px) {
        padding-bottom: 11.25em;
    }

    &__content {
        @media (min-width: 768px) {
            margin-top: 5.25em;
            display: flex;
            // align-items: flex-start;
        }
    }

    &__left {}

    &__text {
        margin-bottom: 2em;
        @media (min-width: 768px) {
            margin-bottom: 2.5em;
            font-size: 1.25em;
        }

        ol,
        p,
        ul {
            margin: 0 0 0.5em;
            line-height: 1.5;
        }
    }

    &__note {
        margin-bottom: 2em;
        line-height: 1.5;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 1.25em;
        }
    }

    &__img {
        width: 100%;
        // height: 25em;
        margin: 3em 0 0;

        @media (min-width: 768px) {
            margin: 0 0 0 5em;
            flex: none;
            width: 45.4375em;
        }

        img {
            display: block;
            width: 100%;
            position: sticky;
            top: 0;
            // max-height: 25em;

            @media (min-width: 768px) {
                // max-height: 52.75em;
            }
        }
    }

}

.webdisNecessities {
    &__top {
        margin-bottom: 3em;

        @media (min-width: 768px) {
            max-width: 63.4375em;
            margin-bottom: 6.25em;
        }
    }

    &__content {
        @media (min-width: 768px) {
            border: $main_border;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8.125em;
        }
    }

    &__item {

        @media (max-width: 767px) {
            &:nth-child(n+2) {
                margin-bottom: 1.5em;
                padding-top: 2em;
                border-top: $main_border;
            }
        }

        @media (min-width: 768px) {
            width: 50%;
            padding: 3.75em 3.75em 3.25em;
            min-height: 29.4em;

            &:nth-child(2n) {
                border-left: $main_border;
            }

            &:nth-child(n+3) {
                border-top: $main_border;
            }
        }
    }

    &__img {
        width: 7em;
        height: 7em;
        float: left;
        margin: 0 1em 1em 0;

        @media (min-width: 768px) {
            width: 10.6875em;
            height: 10.5em;
            margin: 0 1.875em 1.5em 0;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__descr {
        h3 {
            font-size: 1.7em;
            line-height: 1.1;
            font-weight: 400;
            margin: 0;

            @media (min-width: 768px) {
                font-size: 2.25em;
            }
        }

        p {
            line-height: 1.5;
            margin: 0.5em 0;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }
    }

}
