// Breadcrumb ==================================================================

.breadcrumbs {
	display: none;

	@media (min-width: 768px) {
		margin: 2.1875em 0 3.125em;
		padding: 0;
		color: #716C6C;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.sep {
			border: 1px solid;
			border-radius: 1px;
			margin: 0.3125em;
		}

		a {
			font-size: 0.875em;
			line-height: 1.5;
			color: #716C6C;
			text-decoration: none;

			&::first-letter {
				text-transform: uppercase;
			}

			&:hover {
				color: $color_withe;
			}
		}
	}
}
