// Style for button and pseudo button for input and link

.btn {
	color: $btn_default_text_color;
	font-family: $second_font_family;
	font-size: 1.25em;
	font-weight: 700;
	padding: 1em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $btn_default_bg_color;
	text-transform: uppercase;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;
	transition: all 0.3s;
	text-decoration: none;
	letter-spacing: 0.175em;
	position: relative;
	z-index: 2;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

	.single-projects:not(.projects-template-page-seo-template) .getTouch & {
		background-color: #DDC181;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0;
		z-index: -1;
		background: $color_withe;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	}

	&:hover {
		// background-color: darken($btn_default_bg_color, 7%);
		color: $btn_default_bg_color;
		text-decoration: none;

		.single-projects .getTouch & {
			color: #dddd11;
		}

		&:before {
			right: auto;
			left: 0;
			width: 100%;
		}
	}

	&:active,
	&:focus {
		// background-color: lighten($btn_default_bg_color, 7%);
		background: $color_withe;
		color: $btn_default_bg_color;

		@media (max-width: 767px) {
			&:before {
				right: auto;
				left: 0;
				width: 100%;
			}
		}
	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active,
			&:focus {
				background-color: darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}

	@media (min-width: 768px) {
		&_border {
			border: 1px solid $btn_default_bg_color;
			background-color: transparent;
			color: $btn_default_bg_color;
			font-weight: 400;
			font-family: $main_font_family;
			font-size: 1.5em;
			letter-spacing: 0.05em;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

			// .btn__overlay {
			// 	background-color: $btn_default_bg_color;
			// }

			&:hover {
				// color: $color_withe;

			}
		}

		&_round {
			border-radius: 50%;

			&:before {
				top: 50%;
				right: 50%;
				height: 0;
				width: 0;
				transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
				border-radius: 50%;
			}

			&:hover {
				// right: 0;
				// left: auto;
				&:before {
					left: auto;
					top: 0;
					right: 0;
					height: 100%;
					width: 100%;
				}
			}

			.btn__overlay {}

			&_contrast {
				border: 1px solid #202020;
				color: #202020;

				&:hover {
					color: $color_withe;

					&:before {
						background: #202020;
					}
				}
			}

			&_md {
				font-weight: 500;
				font-size: 1em;
				text-decoration: underline;
				width: 11.5em;
				height: 11.5em;
				padding: 2em;

				&:hover {
					text-decoration-color: transparent;
				}
			}
		}
	}

	&__overlay {
		display: block;
		position: absolute;
		// background-color: rgba(lighten($btn_default_bg_color, 14%), 0.7);
		animation: btnNover 0.5s forwards linear;
		z-index: -1;
		width: 0;
		padding-bottom: 0;
		border-radius: 0;
		transform: translate3d(-50%, -50%, 0) scale(0);
	}

}

.page-template-page-development-template {
	.btn {
		&_border {
			border: 1px solid $btn_default_bg_color;
			background-color: transparent;
			color: $btn_default_bg_color;
			font-weight: 400;
			font-family: $main_font_family;
			font-size: 1.5em;
			letter-spacing: 0.05em;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

			// .btn__overlay {
			// 	background-color: $btn_default_bg_color;
			// }

			&:hover {
				// color: $color_withe;

			}
		}

		&_round {
			border-radius: 50%;

			&:before {
				top: 50%;
				right: 50%;
				height: 0;
				width: 0;
				transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
				border-radius: 50%;
			}

			&:hover {
				// right: 0;
				// left: auto;
				&:before {
					left: auto;
					top: 0;
					right: 0;
					height: 100%;
					width: 100%;
				}
			}

			.btn__overlay {}

			&_contrast {
				border: 1px solid #202020;
				color: #202020;

				&:hover {
					color: $color_withe;

					&:before {
						background: #202020;
					}
				}
			}

			&_md {
				font-weight: 500;
				font-size: 1em;
				text-decoration: underline;
				width: 11.5em;
				height: 11.5em;
				padding: 2em;

				&:hover {
					text-decoration-color: transparent;
				}
			}
		}
	}
}

@keyframes btnNover {
	from {
		width: 0;
		padding-bottom: 0;
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(0);
	}

	50% {
		opacity: 1;
		transform: translate3d(-50%, -50%, 0) scale(1.1);
	}

	to {
		width: 100%;
		padding-bottom: 100%;
		opacity: 1;
		transform: translate3d(-50%, -50%, 0) scale(2.2);
	}
}
