.smooth {
    scroll-behavior: smooth;
}

.custom_block {
    // margin: 0 -1.2em;
    padding: 4em 1.2em;
    color: #FEFAF1;

    @media (min-width: 768px) {
        // margin: 0 -5.7em;
        padding: 5.625em 5.7em;
    }

    @media (max-width: 767px) {
        .container_center {
            padding: 0;
        }
    }

    .wp-admin & {
        font-size: 0.8em;
    }

    // @media (min-width: 768px) {
    //     padding: 5.625em 5.7em;
    // }

    &.section_light {
        color: #232323;

        h2 {
            color: #232323;
        }
    }

    * {
        box-sizing: border-box;
    }

    p:not([class]) {
        a {
            color: inherit;
        }
    }

    h2 {
        font-size: 2.3em;
        font-weight: 400;
        line-height: 1.1;
        margin: 0 0 1em;
        text-transform: uppercase;
        color: #FEFAF1;

        @media (min-width: 768px) {
            font-size: 5em;
        }
    }

    ol,
    p,
    ul {
        line-height: 1.4;
        margin: 0 0 1em;

        @media (min-width: 768px) {
            font-size: 1.25em;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    figure {
        margin: 0;
    }

    .wp-block-columns {
        gap: 0;

        @media (min-width: 768px) {
            gap: 4em;
        }
    }

    .yoast-breadcrumbs {
        margin: 0 0 1.875em;
        color: #716C6C;

        a,
        span.breadcrumb_last {
            color: #716C6C;
            font-size: 0.875em;
            text-decoration: none;
        }
    }
}

.img_fullwidth {}

.wp-block-button__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $btn_default_bg_color;
    background-color: transparent;
    color: $btn_default_bg_color;
    font-weight: 400;
    font-family: $main_font_family;
    letter-spacing: 0.05em;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 50%;
    font-weight: 500;
    font-size: 0.8em;
    // text-decoration: underline;
    text-transform: uppercase;
    width: 11.5em;
    height: 11.5em;
    padding: 2em;

    @media (min-width: 768px) {
        font-size: 1em;
    }

    &:before {
        top: 50%;
        right: 50%;
        height: 0;
        width: 0;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        border-radius: 50%;
    }

    &:hover {
        // right: 0;
        // left: auto;
        &:not(.disabled) {
            &:before {
                left: auto;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
            }
        }
    }

    .section_light & {}

    figure {
        margin: 0;
    }
}

.block1 {
    @media (min-width: 768px) {
        padding-top: 4em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.1;
        margin: 0 0 0.5em;
        font-weight: 400;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 5em;
        }
    }

    .wp-block-columns {
        // align-items: center;
        margin-bottom: 0;

        .wp-block-column {
            &:first-child {
                margin-bottom: 2em;

                @media (min-width: 768px) {
                    flex: none;
                    width: 53%;
                    padding-right: 5em;
                    margin-bottom: 0;
                }
            }

            &:last-child {
                @media (min-width: 768px) {
                    margin: 0 -5.7em;
                }

            }

            .block1__anchore {
                counter-reset: anchoreBlock;
                margin: 0 0 4.125em;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 1.1875em 1.4375em;
                font-weight: 300;

                li {
                    counter-increment: anchoreBlock;
                    margin: 0;

                    a {
                        &:before {
                            content: '[' counter(anchoreBlock) '] ';
                        }
                    }
                }

                a {
                    font-size: 1.1em;
                    text-decoration: none;
                    color: $color_withe;

                    &:hover {
                        color: darken($color_withe, 10%);
                    }
                }
            }
        }
    }
}

.block2 {
    padding-bottom: 0;
    margin-bottom: 0;

    .wp-block-image {
        margin: 2em -1.2em 0 !important;

        @media (min-width: 768px) {
            margin: 4em -5.7em 0 !important;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .wp-block-buttons {
        @media (max-width: 767px) {
            margin-bottom: 2em;
        }
    }

    .wp-admin & {
        .components-resizable-box__container {
            max-width: none !important;
            max-height: none !important;
            min-width: 0 !important;
            min-height: 0 !important;
            width: 100% !important;
            height: inherit !important;
        }
    }
}

.block3 {
    .is-layout-flex {
        @media (min-width: 768px) {
            .wp-block-column {
                &:first-child {
                    padding-right: 5em;
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding-bottom: 0;

        .wp-block-columns {
            margin-bottom: 0;
        }

        .wp-block-image {
            margin: 0 -1.2em !important;
        }
    }
}

.block4 {
    .columns_wrap {
        gap: 0;
        border: $main_border;

        .wp-block-column {
            padding: 1em;

            @media (min-width: 768px) {
                flex: none;
                width: 50%;
                min-height: 30em;
                padding: 3.75em;

                &:nth-child(2n) {
                    border-left: $main_border;
                }

                &:nth-child(n+3) {
                    border-top: $main_border;
                }
            }

            @media (max-width: 767px) {
                &:nth-child(n+2) {
                    border-top: $main_border;
                }
            }
        }

        .wp-block-image {
            float: left;
            width: 7em;
            height: 7em;
            margin: 0 1em 1em 0;

            @media (min-width: 768px) {
                width: 10.6875em;
                height: 10.5em;
                margin: 0 1.875em 1em 0;
            }
        }

        h3 {
            font-size: 1.75em;
            font-weight: 400;
            line-height: 1.1;
            margin: 0 0 0.2em;

            @media (min-width: 768px) {
                font-size: 2.25em;
            }
        }

        p {
            font-size: 1.25em;
            margin: 0 0.5em;
        }
    }
}

.block5 {
    // color: inherit;

    h2 {
        @media (min-width: 768px) {
            // width: 12em;
        }
    }

    .block5_cols {
        color: #FEFAF1;

        &.wp-block-columns {
            gap: 0.625em;
        }

        .wp-block-column {
            padding: 1.2em;
            background: #292929;
            margin: 0 -1.2em;

            @media (min-width: 768px) {
                padding: 3.75em;
                margin: 0;
            }

            h3 {
                display: flex;
                align-items: center;
                font-size: 1.5em;
                font-weight: 400;
                margin: 0;
                border-bottom: 1px solid rgba(254, 250, 241, 0.5);
                padding-bottom: 0.7em;
                margin-bottom: 1em;

                @media (min-width: 768px) {
                    font-size: 1.875em;
                    margin-bottom: 1.4em;
                    padding-bottom: 1em;
                }

                &:before {
                    content: '';
                    width: 0.8em;
                    height: 0.8em;
                    margin-right: 1em;
                    background: url("/wp-content/themes/deesee/img/garrow.svg") 0 center no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    .block5_minus,
    .block5_plus {
        padding: 0;
        margin: 0 0 3.625em;
        list-style: none;

        li {
            margin-bottom: 2em;
            line-height: 1.2;
            padding-left: 3.6em;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                line-height: 1;
                width: 1.2em;
                height: 1.2em;
                border-radius: 50%;
                background: #FEFAF1;
                color: #202020;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.8em;
                font-weight: 300;
            }

            b {
                font-weight: 500;
            }
        }
    }

    .block5_plus {
        li {
            &:before {
                content: '+';
                padding-top: 0.1em;
            }
        }
    }

    .block5_minus {
        li {
            &:before {
                content: '\2013';
                padding-bottom: 0.15em;
            }
        }
    }
}

.columns_wrap {
    flex-wrap: wrap !important;
}

.block6 {
    .wp-block-buttons {
        margin-bottom: 3em;
        @media (min-width: 768px) {
            margin-top: 8em;
        }
    }

    .wp-block-button__link {
        background: url("/wp-content/themes/deesee/img/btns-bg.png") center no-repeat;
        background-size: cover;
        color: #fff;
        border: 0;
        @media (min-width: 768px) {
            width: 20.75em;
            height: 20.75em;
        }
    }

    .wp-block-column {
        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding-left: 5em;
                position: relative;
                margin-bottom: 1.38em;

                @media (min-width: 768px) {
                    margin-bottom: 3em;
                }

                &:before {
                    content: '';
                    display: block;
                    line-height: 0;
                    position: absolute;
                    left: 0;
                    top: 0.2em;
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    background: #202020;
                }

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    font-size: 0.8em;
                    width: 0.6em;
                    height: 1em;
                    left: 1.5em;
                    top: 1.5em;
                    transform: rotate(45deg);
                    border-right: 0.125em solid #BFA778;
                    border-bottom: 0.125em solid #BFA778;
                }

                br {
                    @media (min-width: 768px) {
                        display: block;
                        margin-bottom: 0.4em;
                    }
                }

                b,
                strong {
                    font-size: 1.2em;
                    margin-bottom: 0.3em;
                    // display: block;
                    font-weight: 500;
                    line-height: 1.1;

                    @media (min-width: 768px) {
                        font-size: 1.9em;

                    }
                }
            }
        }
    }
}

.is-layout-flex.anchore {
    &_line {
        display: flex;
        align-items: center !important;
        flex-wrap: nowrap !important;
        font-weight: 500;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2em 0;
        margin: 0;
        font-size: 1em;

        .section_light & {
            border-top: 1px solid rgba(32, 32, 32, 0.5);
        }

        @media (min-width: 768px) {
            padding: 2.5em 0 4.6875em;
        }

        .wp-block-column {
            @media (max-width: 767px) {
                flex-basis: auto !important;
            }
        }

        p.anchore_name,
        p.anchore_num {
            font-size: 1em;
            margin: 0;
            text-transform: uppercase;

        }

        .anchore_name {
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                flex-grow: 1;
            }

            &:before {
                content: '•';
                margin-right: 0.3em;
                display: block;
                margin-top: 0.1em;
                flex: none;
                line-height: 0;
                font-size: 2.8em;
            }
        }

        .anchore_num {
            @media (max-width: 767px) {
                // display: none;
                flex-grow: 0;
            }
        }
    }
}

.block7 {
    .wp-block-image {
        @media (min-width: 768px) {
            max-width: 80%;
            margin-left: 0 !important;
        }
    }
}

.blockAccordeon {
    flex-direction: column;
    padding: 2.5em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &.wp-block-columns {
        gap: 0 !important;
        margin-bottom: 0;
    }

    &_name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;

        .wp-admin & {
            cursor: inherit;
            user-select: text;

        }

        &:after {
            content: '+';
            font-size: 2.8em;
            line-height: 0.8;
            font-weight: 300;

            .open & {
                content: '\2012';
                font-size: 2.6em;
            }
        }

        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 1.625em;
            line-height: 1.4;
            flex-grow: 1;
            padding-right: 2em;
        }
    }

    &_text {
        display: none;

        .open & {
            display: flex;
            padding-top: 2em;
        }

        .wp-admin & {
            display: flex;
            padding-top: 2em;
            flex-grow: 1;

            p {
                width: 100%;
            }
        }
    }
}

.block8 {
    // border-bottom: $main_border;
    // border-top: $main_border;
    // overflow: hidden;
    // position: relative;
    //
    // @media (min-width: 768px) {
    //     &:after {
    //         content: '';
    //         position: absolute;
    //         // $rr: 80.1em;
    //         border: $main_border;
    //         border-radius: 50%;
    //         top: 0;
    //         right: -10.9em;
    //         // width: $rr;
    //         height: 100%;
    //         padding-left: 79.5%;
    //         z-index: 0;
    //     }
    // }

    h3 {
        font-size: 1.5em;
        letter-spacing: 0.175em;
        font-weight: 600;
        margin: 0 0 0.8em;
        line-height: 1.11;
        text-transform: uppercase;
        color: $color_withe;
        transition: margin 0.5s;

        @media (min-width: 768px) {
            font-size: 2em;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    p {
        color: #B3B3B3;
    }

    .wp-block-video {
        position: relative;
        margin: 0 0 2em !important;
        overflow: hidden;
        filter: grayscale(1);
        transition: filter 0.6s;

        @media (min-width: 768px) {
            margin: 0 0 2.6em !important;
            // height: 28.5em;
        }

        &:hover {
            filter: grayscale(0);
        }
    }

    &__action {
        text-align: right;

        .wp-block-button__link {
            @media (min-width: 768px) {
                margin-top: -7em;
                margin-right: 17.5em;
                width: 25.6875em;
                height: 25.6875em;
            }
        }
    }
}
