/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	padding: 3em 0;
	// background-color: #ddd;
	border-top: 1px solid rgba($color_withe, 0.1);

	@media (min-width: 768px) {
		padding: 4em 0;
	}

	&__content {
		@extend .container_center;
		@media (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__soc {
		font-size: 2em;

		.menu {
			display: flex;
		}

		.menu-item {
			margin-right: 0.5em;
			margin-bottom: 1em;

			@media (min-width: 768px) {
				margin-right: 0.7em;
				margin-bottom: 0;
			}
		}

		a {
			opacity: 0.5;

			&:before {
				display: none;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__copy {
		font-size: 1.125em;
		margin-bottom: 2em;
		display: flex;
		flex-direction: column;

		@media (min-width: 768px) {
			margin-bottom: 0;
			align-items: center;
		}

		a {
			color: #B3B3B3;
			text-decoration-color: transparent;

			&:nth-child(n+2) {
				margin-top: 0.5em;
			}

			&:hover {
				text-decoration-color: inherit;
			}
		}
	}

	&__terms {
		font-size: 1.125em;
		display: flex;
		flex-direction: column;

		@media (min-width: 768px) {
			align-items: flex-end;
		}

		a {
			color: #B3B3B3;
			text-decoration-color: transparent;
			margin-right: 3em;
			margin-top: 0.6em;

			@media (min-width: 768px) {
				margin-left: 3em;
				margin-right: 0;
			}

			&:hover {
				text-decoration-color: inherit;
			}
		}
	}
}
