/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 0.3em 0 0;
	z-index: 10;
	position: relative;
	// background-color: #ddd;

	@media (min-width: 768px) {
		padding: 1.9em 0 1.2em;
	}

	.home & {
		position: absolute;
		width: 100%;
	}

	&__border {
		border-bottom: 1px solid rgba($color_withe, 0.1);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	&__content {
		@extend .container_center;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left,
	&__right {
		padding-bottom: 0.3em;
		flex-grow: 1;
		max-width: 25.75em;
	}

	&__left {
		// max-width: 25.25em;
	}

	&__right {
		// max-width: 25.25em;
	}

	&__center {
		margin-bottom: 0.8em;
		width: 6.8em;

		@media (min-width: 768px) {
			padding-top: 0.6em;
			padding-bottom: 0.3em;
			margin-bottom: 0;
			width: 8.125em;

		}

		img {
			height: auto;
		}
	}

}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
