.lrBorder {
    @media (min-width: 768px) {
        position: relative;

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            top: -2.3em;
            bottom: 0;
            border-left: $main_border;

        }

        &:before {
            left: 5.7em;
        }

        &:after {
            right: 5.7em;
        }
    }
}
