/* Navbar
-------------------------------------------------------------------------------*/
.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (min-width: 768px) {
		display: flex;
		justify-content: space-between;
	}

	&-item {
		// display: inline-block;
		// margin: 5px;
		margin-bottom: 2em;
		@media (min-width: 768px) {
			margin-bottom: 0;
		}
	}

	a {
		color: rgba($color_withe, 0.4);
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 1.5em;
		line-height: 1.25;
		font-weight: 400;
		display: inline-flex;

		@media (min-width: 768px) {
			font-size: 1em;
			display: inline-block;
		}

		&:before {
			content: attr(data-letter);
			display: block;
			font-size: 1.1em;
			font-family: $second_font_family;
			font-weight: 300;
			color: $color_withe;
			line-height: 1.11;
			width: 2em;

			@media (min-width: 768px) {
				font-size: 1.5em;
				margin-bottom: 0.3em;
				width: auto;
			}
		}

		&:hover {
			color: rgba($color_withe, 0.8);
		}
	}

	&__toggle {
		@media (min-width: 768px) {
			display: none;
		}
		@media (max-width: 767px) {
			position: absolute;
			color: $color_withe;
			border-top: 0.2em solid;
			border-bottom: 0.2em solid;
			left: 1.3em;
			top: 1.3em;
			width: 2em;
			height: 1.5em;
			cursor: pointer;
			z-index: 51;
			transition: border-color 0.3s;

			&:after,
			&:before {
				content: '';
				position: absolute;
				border-top: 0.2em solid;
				width: 100%;
				left: 0;
				top: 50%;
				margin-top: -0.1em;
				transition: transform 0.3s;
			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;
				color: #DDC181;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&:hover {
				// color: rgba($color_withe, .8);
			}
		}
	}
}

.sub-menu {
	width: 100vw;
	overflow: hidden;
	list-style: none;
	padding: 0;
	// padding: 3.3em 5.8em 2em;
	letter-spacing: normal;
	// display: none;
	transition: 0.4s;
	transition-property: padding, opacity;
	// border-top: $main_border;

	@media (min-width: 768px) {
		z-index: 100;
		background: #202020;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		left: -1.2em;
		// right: -5.6em;
		opacity: 0;
		padding: 0 5.8em;
		visibility: hidden;
		// border-top: 0;
		border-bottom: $main_border;

		.home & {
			left: -6.9em;
		}

		.menu-item-has-children:hover & {
			padding: 2.6em 5.8em 2em;
			display: flex;
			visibility: visible;
			opacity: 1;
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100vw;
			left: 0;
			top: 1.05em;
			border-top: $main_border;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 1.3em;
			height: 1.3em;
			background: inherit;
			border-right: $main_border;
			border-top: $main_border;
			transform: rotate(-45deg);
			top: 0.4em;
			margin-left: 1.1em;
			// left: 1em;
			z-index: 100;
		}
	}

	@media (min-width: 1731px) {
		.home & {
			left: -6.8em;
		}
	}

	.menu-item {
		@media (min-width: 768px) {
			margin-right: 2em;

			&:first-child {}

			a {
				color: #D5D5D5;

				&:hover {
					color: #D8C289;
					text-decoration: underline;
				}
			}

			&.current_page_item {
				a {
					color: #D8C289;
					text-decoration: underline;
				}
			}
		}
		@media (max-width: 767px) {
			text-transform: lowercase;
			margin: 1.3em 0;
			padding-left: 1.6em;

			a {
				&:before {
					content: '- ';
					width: 1em;
				}
			}

		}
	}
}

@media (max-width: 767px) {
	.nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		// align-items: center;
		justify-content: center;
		left: -300px;
		top: 0;
		bottom: 0;
		background-color: lighten(#202020, 10%);
		width: 300px;
		z-index: 10;
		overflow: hidden;
		padding: 6em 1.5em 2em;
		transition: left 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);

		&.open {
			left: 0;
		}

		&_open {
			overflow: hidden;
		}
	}
}
