.pageSteps {
    overflow: hidden;

    &__list {
        counter-reset: step;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__item {
        counter-increment: step;
        border-top: $main_border;
        padding: 3em 1.2em;
        margin: 0 -1.2em;

        &:before {
            content: '0' counter(step);
            font-size: 3.75em;
            font-weight: 100;
            line-height: 1.5;
            margin-bottom: 0.3em;
        }

        @media (min-width: 768px) {
            border: $main_border;
            border-top: 0;
            margin: 0;
            padding: 3.5625em 5.0625em;

            &:nth-child(-n+2) {
                border-top: $main_border;
            }

            &:nth-child(2) {
                border-left-color: transparent;
                border-bottom: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                border-right: 0;
            }

            &:nth-child(5) {
                border-bottom: $main_border;
            }

            &:nth-child(6) {
                border-top-color: transparent;
                border-left: 0;
            }

            &:nth-child(n+6) {
                border-top: 0;
                border-bottom: $main_border;
            }

        }

    }

    &__banner {
        position: relative;
        padding: 21.63em 1.2em 4em;
        border: 0;
        margin: 0 -1.2em;
        overflow: hidden;

        @media (min-width: 768px) {
            margin: 0;
            padding: 40.625em 5.0625em 6.875em;
            z-index: 1;
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;

        }
    }

    &__bannerBg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #262626;
        z-index: -1;

        img {
            display: block;
            object-fit: contain;
            object-position: top right;
            width: 100%;
            height: 100%;
        }
    }

    &__last {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: $main_border;
        margin: -1.2em;

        @media (min-width: 768px) {
            margin: 0;
            border: $main_border;
            border-top: 0;
            border-left: 0;
        }

        span {
            font-size: 1.8em;
            text-transform: uppercase;
            font-family: $second_font_family;
            font-weight: 100;
            letter-spacing: 0.88em;
            padding: 2em 1em;
            text-align: center;

            @media (min-width: 768px) {
                padding: 2em;
                font-size: 2.4375em;
            }
        }
    }

    h3 {
        font-size: 1.9em;
        font-weight: 400;
        color: $color_withe;
        line-height: 1.5;
        margin: 0 0 0.8em;

        @media (min-width: 768px) {
            font-size: 2.5em;
        }
    }

    p {
        font-size: 1.125em;
        line-height: 1.5;
        margin: 0 0 0.5em;
    }

    ul {
        font-size: 1.125em;
        margin: 0 0 0.5em;

        li {
            margin-bottom: 0.5em;
        }
    }

}
