.subscribe {
	&Thank__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			display: block;
			object-fit: contain;
			object-position: right top;
			width: 100%;
			height: 100%;
		}
	}
    &.subscribeThank {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_center {
      background: #2E2D2D;
      padding-top: 4em;
      padding-bottom: 4em;
      
      @media (min-width: 768px) {
          max-width: 107.4375em;
          padding: 5.375em 6.1875em;
          margin: 5em auto;
        }
    }
    &.subscribeThank .container_center {
      background: transparent;
      width: 100%;
	  position: relative;
    }
    .section__title {
      @media (min-width: 768px) {
        font-size: 4.5em;
        margin-bottom: 0.1em;
      }
    }
    &.subscribeThank .section__title {
        @media (min-width: 768px) {
          margin-bottom: 0.3em;
        }
    }
    .section__sub {
        @media (min-width: 768px) {
            font-size: 1.5em;
            line-height: 1.5;
            color: #fff;
            margin-bottom: 2em;
        }
    }
    &.subscribeThank .section__sub {
        margin-bottom: 1em;
    }
    &__content {
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
      }
    }
    &__left {
      margin-bottom: 3em;
      @media (min-width: 768px) {
        margin-right: 5em;
        margin-bottom: 0;
        flex-grow: 1;
        min-width: 0;
      }
    }
    &.subscribeThank .subscribe {
        &__left {
            @media (min-width: 768px) {
                // width: 36em;
                margin-right: 13em;
            }
        }
    }
    &__imgs {
      img {
        box-shadow: 1.1875em 1.1875em 8.5em 0px rgba(0, 0, 0, 0.20);
        width: 23em;
        height: auto;
        
        @media (min-width: 768px) {
          width: 37em;
        }
  
        &:first-child {
          position: relative;
          margin-bottom: -4em;
          @media (min-width: 768px) {
            margin-bottom: -8.25em;
          }
        }
        &:last-child {
          margin-left: 5em;
          @media (min-width: 768px) {
            margin-left: 14em;
            
          }
        }
      }
    }
    &__right {
      @media (min-width: 768px) {
        width: 35em;
        flex: none;
      }
    }
    &.subscribeThank .subscribe {
        &__right {
            @media (min-width: 768px) {
                width: 47em;
            }
        }
    }
    &__soc {
        .menu {
            display: inline-flex;
            gap: 1.25em;

            a:before {
                display: none;
            }
            
            img {
                width: 2.625em;
            }
        }
    }
    &__download {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 2em;
        color: #BFA778;
        font-family: Noah;
        font-weight: 700;
        font-size: 1.125em;
        
        svg {
            width: 5.25em;
            flex: none;
            margin-right: 2em;
        }
    }
    .formkit-form {
    }
    .formkit-alert {
    }
    .formkit-alert-error {
    }
    .formkit-fields {
    }
    .formkit-field {
      margin-bottom: 1.125em;
      input[type=text], input[type=email] {
        width: 100%;
        border-radius: 0 !important;
  
        @media (min-width: 768px) {
          font-size: 1.125em;
          padding: 1em 1.3em;
        }
      }
    }
    .formkit-input {
    }
    .formkit-submit {
      &.btn {
        width: 100%;
        font-size: 1.125em;
        padding: 1em 2em;
      }
    }
    .formkit-spinner {
    }
  }
  